body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    flex-direction: column;
    background-color: #090809;
    margin: 0;
}

div {
    border: 1px solid white;
}

a, p, h1, h2, h3, label, button{
    color: #F5FEFD;
}

h1, h2, h3, h4 {
    text-align: center;
}

flash {
    position: relative;
    padding: 10px;
    border: 1px solid #7F0405;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #F5FEFD;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #f7a440;
    transform: scale(1.1);
}


.footer {
    background-color: #413e3e33;
    padding: 15px 0;
    text-align: center;
    border-top: 3px solid #7F0405;
}

footer {
    margin-top: auto;
}

.badge {
    text-align: center;
    padding: 5px;
}

.navbar {
    padding: 15px 5px 15px 5px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: left;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s;
}

.nav-list a:hover {
    color: #BA0203;
    transform: scale(1.1);
}

.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #BA0203;
    transition: width 0.3s, left 0.3s;
}

.nav-list a:hover::after {
    width: 100%;
    left: 0;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 10px 0;
    }
}

