.rlfield {
    max-width: 20%;
    min-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #7F0405;
    border-radius: 5%;
}

.rlfield form {
    text-align: center;
}

.rlfield, input, .rfield a {
    font-size: 18px;
    border-radius: 15px;
    padding: 1%;
    width: 88%;
}

.rlfield label {
    font-weight: bold;
}

.rlfield button {
    width: 90%;
    padding: 1%;
    background-color: #7F0405;
    margin: 2%;
    border-radius: 15px;
    border-color: #7F0405;
    font-weight: bold;
}