{% extends "base.html" %}


{% block header %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="child">
            <video width="320" height="240" controls>
                <source src="{{ url_for('static', filename='videos/egy.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="child">
            <video width="320" height="240" controls>
                <source src="{{ url_for('static', filename='videos/kettő.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="child">
            <video width="320" height="240" controls>
                <source src="{{ url_for('static', filename='videos/három.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="child">
            <video width="320" height="240" controls>
                <source src="{{ url_for('static', filename='videos/négy.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="child">
            <video width="320" height="240" controls>
                <source src="{{ url_for('static', filename='videos/öt.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}  