{% extends "base.html" %}

{% block header %}{% endblock %}

{% block body %}
    <div class="rlfield">
        <h2>Register</h2>
        <form method="POST">
            <div class="labdiv"><label class="lab" for="input">Username</label></div>
            <div class="inpdiv">
                <input type="text" placeholder="Username" name="username" id="username" required class="inp">
            </div>
            <div class="labdiv"><label class="lab" for="input">Email</label></div>
            <div class="inpdiv">
                <input type="email" placeholder="Email" name="email" id="email" required class="inp">
            </div>
            <div class="labdiv"><label class="lab" for="input">Password</label></div>
            <div class="inpdiv">
                <input type="password" placeholder="Password" name="password" id="password" required class="inp">
            </div>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}